<% layout("layouts/boilerplate.ejs") %>
<body>
    <h1>Editing : <u><%= listing.title %></h1></u>
    <br><br>
    <form action="http://localhost:8080/listing/<%= listing._id %>?_method=PUT" method="post">
        <label for="title" class="form-label">Title: </label>
        <input type="text" name="title" id="" placeholder="Title" class="form-control" value="<%= listing.title %>">
        <br><br>
        <label for="description" class="form-label">Description: </label>
        <textarea name="description" id="" placeholder="description" class="form-control"><%= listing.description %></textarea>
        <br><br>
        <label for="image" class="form-label">Image Url: </label>
        <input type="text" name="image" id="" placeholder="image" class="form-control" value="<%= listing.image %>">
        <br><br>
        <div class="row">
            <div class="col-4">
                <label for="price" class="form-label">Price: </label>
                <input type="number" name="price" id="" placeholder="price" class="form-control" value="<%= listing.price %>">
            </div>
            <div class="col-8">
                <label for="country" class="form-label">Country: </label>
                <input type="text" name="country" id="" placeholder="country" class="form-control" value="<%= listing.country %>">
            </div>
        </div>
        <br><br>
        <label for="location" class="form-label">Location: </label>
        <input type="text" name="location" id="" placeholder="location" class="form-control" value="<%= listing.location %>">
        <br><br>
        <button class="btn btn-outline-success">Edit Listing</button>
    </form>
</body>